<% editable = false unless defined?(editable) && editable == true %>
<% remote = Glysellin.async_cart %>

<%= simple_form_for cart, as: :cart, url: validate_cart_products_path, method: "put", html: { class: "products-recap-form#{ ' editable' if editable }", data: { "cart-url" => cart_path } } do |form| %>
  <table id="order_recap_table" class="table table-bordered table-striped">
    <tr>
      <th><%= t('glysellin.labels.order.name') %></th>
      <th><%= t('glysellin.labels.order.unit_price') %></th>
      <th><%= t('glysellin.labels.order.quantity') %></th>
      <th><%= t('glysellin.labels.order.eot_price') %></th>
      <th><%= t('glysellin.labels.order.price') %></th>
      <% if editable %>
        <th></th>
      <% end %>
    </tr>
    <% cart.line_items.each do |line_item| %>
      <tr>
        <td>
          <%= line_item.name %>
        </td>
        <td>
          <%= number_to_currency(line_item.price) %>
        </td>
        <td>
          <% if editable %>
            <%= form.fields_for :line_items, line_item do |fli| %>
              <%= fli.number_field :quantity, value: line_item.quantity, class: 'quantity-input', data: { id: line_item.id } %>
            <% end %>
          <% else %>
            <%= line_item.quantity %>
          <% end %>
        </td>
        <td class="product-eot-price">
          <%= number_to_currency(line_item.total_eot_price) %>
        </td>
        <td class="product-price">
          <%= number_to_currency(line_item.total_price) %>
        </td>
        <% if editable %>
          <td>
            <%= link_to cart_product_path(line_item.id), method: "delete" do %>
              <%= t('glysellin.labels.cart.remove_from_cart') %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr class="products-subtotal-row" style="<%= "display:none;" unless cart.subtotal != cart.total_price || Glysellin.show_subtotal_if_identical %>">
      <td colspan="2">
        <%= t('glysellin.labels.order.subtotal') %>
      </td>
      <td>

      </td>
      <td class="eot-subtotal">
        <%= number_to_currency(cart.eot_subtotal) %>
      </td>
      <td class="subtotal">
        <%= number_to_currency(cart.subtotal) %>
      </td>
      <% if editable %>
        <td></td>
      <% end %>
    </tr>

    <% if cart.adjustments.length > 0 %>
      <% if cart.shipment && cart.shipment.persisted? %>
        <tr class="adjustment-row" data-type="shipping-method">
          <td colspan="4" class="adjustment-name">
            <%= cart.shipment.shipping_method.name %>
          </td>

          <td class="adjustment-value">
            <%= number_to_currency(cart.shipment.price) %>
          </td>

          <% if editable %>
            <td></td>
          <% end %>
        </tr>
      <% end %>

      <% cart.discounts.each do |adjustment| %>
        <% if discount.valid %>
          <tr class="adjustment-row" data-type="discount-code">
            <td colspan="4" class="adjustment-name">
              <%= discount.name %>
            </td>

            <td class="adjustment-value">
              <%= number_to_currency(discount.price) %>
            </td>

            <% if editable %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% elsif editable && Glysellin.async_cart %>
      <tr class="adjustment-row" data-type="discount-code" style="display:none;">
        <td colspan="4" class="adjustment-name">
        </td>
        <td class="adjustment-value">
        </td>
        <td></td>
      </tr>
    <% end %>

    <tr class="products-total-row">
      <td colspan="3">
        <%= t('glysellin.labels.order.total') %>
      </td>
      <td class="total-eot-price">
        <%= number_to_currency(cart.total_eot_price) %>
      </td>
      <td class="total-price">
        <%= number_to_currency(cart.total_price) %>
      </td>
      <% if editable %>
        <td></td>
      <% end %>
    </tr>
  </table>

  <% if editable %>
    <div class="discount-code">
      <%= form.input :discount_code do %>
        <%= form.text_field :discount_code %>
        <% if remote %>
          <%= form.button :button, t('glysellin.labels.cart.update_discount'), class: "update-discount-code-btn", type: "button", name: "update_discount" %>
        <% end %>
      <% end %>
    </div>
    <% unless remote %>
      <!-- Update cart contents -->
      <button type="submit" name="update_order">
        <%= t('glysellin.labels.cart.update') %>
      </button>
    <% end %>
    <!-- Submit order from cart -->
    <%= form.button :button, t('glysellin.labels.cart.create_order_form'), name: "submit_order", type: "submit" %>
  <% end %>
<% end %>