%h2= t('glysellin.labels.order.order_summary_title')
= "#{ t('glysellin.labels.order.order_reference') } : #{ order.ref }"

%h3= t('glysellin.labels.order.your_informations')
= render partial: 'glysellin/cart_steps/recap/addresses', locals: { cart: order }

%h3= t('glysellin.labels.order.your_cart')
= render partial: 'glysellin/cart/products', locals: { cart: order }

%h3= t('glysellin.labels.order.payment')
- if order.payments_balanced?
  = t("glysellin.labels.order.paid_on_by", date: l(order.payments.last.received_on, format: :short), method: order.payments.last.payment_method.name)
- else
  = (render order.payments.last.payment_method.request_button(order)).html_safe

