- if sellable.published_variants.length > 0
  = form_for Glysellin::LineItem.new, as: :line_item, url: cart_products_path, class: 'add-to-cart-form', remote: options[:remote], data: { "add-to-cart-form" => true } do |f|

    .form-group
      .product-quantity
        = f.number_field :quantity, value: 1, class: 'form-control', style: 'height: 34px;'

    .form-group
      .submit-container
        - if sellable.published_variants.length > 1
          = f.select :variant_id, variants_options_for(sellable), prompt: t("glysellin.labels.sellables.choose_your_variant"), required: "required"
        - else
          = f.hidden_field :variant_id, value: sellable.published_variants.first.id

    .form-group
      %hr/
      %button.btn.btn-success.submit{ type: "submit" }
        = t('glysellin.labels.cart.add_to_cart')
