<div class="cart-products">
  <h4><%= t("glysellin.labels.cart.products") %></h4>
  <table class="table">

    <!-- Headers -->
    <thead>
      <tr>
        <th><%= t('glysellin.labels.order.name') %></th>
        <th><%= t('glysellin.labels.order.quantity') %></th>
        <th><%= t('glysellin.labels.order.price') %></th>
      </tr>
    </thead>
    <tbody>

      <!-- Products -->
      <% current_cart.line_items.each do |line_item| %>
        <tr>
          <td><%= line_item.name %></td>
          <td><%= line_item.quantity %></td>
          <td><%= number_to_currency(line_item.total_price) %></td>
        </tr>
      <% end %>

      <!-- Subtotal -->
      <tr>
        <td colspan="2">
          <%= t("glysellin.labels.order.subtotal") %>
        </td>
        <td>
          <%= number_to_currency(current_cart.subtotal) %>
        </td>
      </tr>

      <!-- Adjustments -->
      <% current_cart.discounts.each do |discount| %>
        <tr>
          <td colspan="2">
            <%= discount.name %>
          </td>
          <td>
            <%= number_to_currency(discount.price) %>
          </td>
        </tr>
      <% end %>

      <% if current_cart.shipment && current_cart.shipment.persisted? %>
        <tr>
          <td colspan="2">
            <%= current_cart.shipment.shipping_method.name %>
          </td>
          <td>
            <%= number_to_currency(current_cart.shipment.price) %>
          </td>
        </tr>
      <% end %>

      <!-- Total row -->
      <tr>
        <td colspan="2">
          <strong>
            <%= t("glysellin.labels.order.total") %>
          </strong>
        </td>
        <td>
          <strong>
            <%= number_to_currency(current_cart.total_price) %>
          </strong>
        </td>
      </tr>
    </tbody>
  </table>
</div>
